<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="banner"><%= title %></h1>

    <p class="besucherZahl">Besucher: <%= besucher%></p>
    <p class="subText">momentan in der Bibliothek: <strong><%= momentan%></strong>   ausgetreten: <strong><%= ausgetreten%></strong></p>

    <p class="watermark">DaVaVi GmbH &#169; - 2023</p>
    <img id="object1" src="/images/lmg.png" alt="LMG Logo">
  </body>
</html>
